// Tablets & Smaller
@media (max-width: 800px) {
  #header-home {
    height: 100vh;

    .header-content {
      padding-top: 15rem;
    }
  }
}

// Smartphones
@media (max-width: 500px) {
  #main-nav {
    flex-direction: column;
    align-items: center;
    ul {
      li {
        padding: 1.5rem 0.8rem;
      }
    }
  }

  #header {
    &-home {
      .header-content {
        padding-top: 5rem;
      }
    }

    &-inner {
      height: 10rem;
      background-position: 20% 5%;

      .container {
        /* Overlay - container needed */
        position: absolute;
        height: 10rem;
        top: 0;
        left: 0;
        right: 0;
        right: 0;
        background-color: rgba(0, 0, 0, 0.65);
      }
    }
  }

  // About
  #about {
    &-a {
      .about-info {
        grid-template-areas:
          "bio-image"
          "bio";
      }
    }
  }

  // Contacts
  #contacts {
    .container-contacts {
      font-size: 3rem;
      padding-top: 30%;
    }
  }

  // Projects
  #work-a {
    .items {
      grid-template-columns: repeat(1, 1fr);
    }
  }

  // Footer
  #main-footer {
    .footer-content {
      .social .fab {
        color: #f4f4f4;
        margin-right: 0.5rem;
        border: 2px #fff solid;
        border-radius: 50%;
        height: 20px;
        line-height: 20px;
        width: 20px;
        text-align: center;
        padding: 0.2rem;
      }
    }
  }
}
