@import "_config";
@import "_utilities";
@import "_item_grid";

* {
  margin: 0;
  padding: 0;
}

body {
  font-family: "Coda", sans-serif;
  line-height: 1.6;
  background: #fff;
}

a {
  text-decoration: none;
  color: $dark-color;
}

ul {
  list-style: none;
}

h2,
h3,
h4 {
  text-transform: uppercase;
}

img {
  width: 100%; // keep in container
}

// Logo
#logo {
  width: 70px;
  height: 70px;
  // In case its a text
  font-family: "Rubik", sans-serif;
  color: #fff;
  text-transform: uppercase;
  font-size: 300%;
}

// Header
#header {
  // header home
  &-home {
    background: #333 $bg-image no-repeat center center / cover;
    height: 100vh;
    color: #fff; // text colour

    // header content
    .header-content {
      text-align: center;
      padding-top: 15%;

      h1 {
        font-size: 4rem;
        line-height: 1.2;
      }
    }

    .container {
      /* Overlay - container needed */
      position: absolute;
      height: 100vh;
      top: 0;
      left: 0;
      right: 0;
      right: 0;
      background-color: rgba(0, 0, 0, 0.65);
    }
  }
  // header inner
  &-inner {
    background: #333 $bg-image no-repeat 20% 20% / cover;
    height: 6rem;
    border-bottom: 3px solid $main-color;
  }
}

// Main Nav
#main-nav {
  display: flex;
  justify-content: space-between; // logo on one side and the other on the other side
  padding-top: 1rem;

  ul {
    display: flex;

    li {
      padding: 1rem 1.5rem; // horizontal  vertical

      a {
        text-decoration: none;
        color: #fff;
        text-transform: uppercase;
        border-bottom: 3px transparent solid;
        padding-bottom: 0.5rem;
        transition: border-color 0.5s;

        &:hover {
          border-color: $medium-color;
        }

        &.current {
          border-color: $main-color;
        }
      }
    }
  }
}

// Cursor
.txt-type > .txt {
  border-right: 0.2rem solid #777;
}

// About Sections

#about {
  &-a {
    .about-info {
      display: grid;
      grid-template-areas: "bio-image bio bio";
      grid-gap: 1.2rem;
    }

    // Grid area
    .bio-image {
      grid-area: bio-image;
    }

    .bio {
      grid-area: bio;
      border-left: 3px solid $main-color;
      padding: 0.8rem;
    }
  }
}

// Contacts
#contacts {
  .container-contacts {
    font-size: 5rem;
    text-align: center;
    padding-top: 10%;

    .social-info .fab {
      color: #fff;
      text-align: center;
      margin: 1rem;
      padding: 1rem;
      border: 3px #fff solid;
      border-radius: 50%;
      height: 80px;
      line-height: 80px;
      width: 80px;

      &:hover {
        border: 2px #ffa502 solid;
        color: #ffa502;
        box-shadow: 0 0 15px #d35400;
        text-shadow: 0 0 15px #d35400;
        transform: scale(1.5);
      }
    }
  }
}

// Footer
#main-footer {
  background: #333 $bg-image no-repeat 20% 100% / cover;
  border-top: 3px solid $main-color;
  color: #fff;
  height: 5rem;

  .footer-content {
    display: flex;
    justify-content: space-between;
    height: 5rem;
    align-items: center;

    .social .fab {
      color: #fff;
      margin-right: 1rem;
      border: 2px #fff solid;
      border-radius: 50%;
      height: 20px;
      line-height: 20px;
      width: 20px;
      text-align: center;
      padding: 0.5rem;

      &:hover {
        background: $main-color;
      }
    }
  }
}

// Import media queries
@import "_media";
